body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: sans-serif;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
}
.signup form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0 0 0 0.3);
    background: #fff;
    padding: 20px;
    margin: 6% auto 0;
    text-align: center;
}
.signup form h1 {
    color: #1c8adb;
    margin-bottom: 20px;
}
label {
    display: flex;
    margin: 0.5rem 0;
  }
.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
/*     display: flex; */
}
button {
    border-radius: 20px;
    outline: none;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    font-size: 15px;
    border: none;
    color: #fff;
    cursor: pointer;
}
.signup-btn {
    background-color: #1c8adb;
}
a {
    text-decoration: none;
}
